.btn{
    font-size: 1.5rem;
    border: none;
}




.btn--delete{
    color: red;
}

.btn--edit{
    color: green;
}

.bilgi{
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;

}

.bilgi--success{
    border: 1px solid green;
}


.bilgi--error{
    
    border:1px solid red;
}


.kaybol{
    transform: scale(0);
}